#ourpackage-container {
  color: #333;
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: url(https://josetxu.com/img/fondo_blanco.png) repeat 0 0 #fff;
}

#ourpackage-container h1 {
  background: #333;
  color: #fff;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 0.5em;
  margin: 0 0 5% 0;
}

#ourpackage-container .cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

#ourpackage-container .cardBox:hover .card {
  transform: rotateY(180deg);
}

#ourpackage-container .card {
  background: #222;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

#card-deets {
  position: absolute;
  color: #fff;
  background-color: rgba(227, 226, 226, 0.221);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card-deets h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

#card-deets p {
  font-size: 1.5rem;
  font-weight: 500;
}

#ourpackage-container .card .front,
#ourpackage-container .card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

#ourpackage-container .card .front img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* z-index: -1; */
}

#ourpackage-container  .back {
  background-color: #0093e9;
  background: linear-gradient(23deg, #0093e9 0%, #80d0c7 100%);
  transform: rotateY(180deg);
  padding: 5.5em;
}

#ourpackage-container .card .back a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0.3em 0.9em;
  background: #64636386;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

#ourpackage-container .card .back a:hover {
  background: #ffffff98;
  color: #333;
  text-shadow: 0 0 1px #333;
}

#ourpackage-container .cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

#ourpackage-container .cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

#ourpackage-container .cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  #ourpackage-container .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  #ourpackage-container .card {
    height: 285px;
  }
  #ourpackage-container .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  #ourpackage-container .cardBox {
    width: 94.5%;
  }
  #ourpackage-container .card {
    height: 260px;
  }
}
