@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');
.hero-wrapper{
    align-items: flex-end;
}
.hero-wrapper img{
    margin-bottom: 7px;
    transition: all 0.5s ease;
}
.hero-wrapper img:hover{
    transform: scale(1.2);
}
.heading{
    display: flex;
    flex-direction: column;
}
.heading .font-coffee{
    font-size: 3.2rem;
}
.flexColCenter span{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
  
  .Hero{
    margin-top: 4rem !important;
  }
  .icon-web{
    display: none;
  }
  .heading{
    display: contents;
  }
  .heading_mobile{
    font-size: 2.5rem !important;
    margin-left: 2.4rem;
  }
  .text-muted{
    margin-left: 7rem;
  }
}
/*-----------------------------------*\
 * #TOUR SEARCH
\*-----------------------------------*/
 



:root {

    /**
     * colors
     */
  
    --united-nations-blue: hsl(214, 56%, 58%);
    --bright-navy-blue: hsl(214, 57%, 51%);
    --spanish-gray: hsl(0, 0%, 60%);
    --black-coral: hsl(225, 8%, 42%);
    --oxford-blue: hsl(208, 97%, 12%);
    --yale-blue: hsl(214, 72%, 33%);
    --blue-ncs: hsl(197, 100%, 36%);
    --gunmetal: hsl(206, 34%, 20%);
    --gainsboro: hsl(0, 0%, 88%);
    --cultured: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 25%);
    --jet: hsl(0, 0%, 20%);
  
    /**
     * typography
     */
  
    --ff-poppins: "Poppins", sans-serif;
    --ff-montserrat: "Montserrat", sans-serif;
  
    --fs-1: calc(20px + 3.5vw);
    --fs-2: calc(18px + 1.6vw);
    --fs-3: calc(16px + 0.45vw);
    --fs-4: 15px;
    --fs-5: 14px;
    --fs-6: 13px;
    --fs-7: 12px;
    --fs-8: 11px;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease-in-out;
  
    /**
     * spacing
     */
  
    --section-padding: 60px;
  
    /**
     * border-radius
     */
  
    --radius-15: 15px;
    --radius-25: 25px;
  
  }
  
  
  
  
  
  
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  button { cursor: pointer; }
  
  input { width: 100%; }
  
  /* ion-icon { pointer-events: none; } */
  
  html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
  }
  
  /* body { background: var(--white); } */
  
  
  
  
  
  /*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/
  
  /* .container { padding-inline: 15px; } */
  
  .btn1 {
    color: var(--white);
    text-transform: uppercase;
    font-size: var(--fs-5);
    border-radius: 100px;
    padding: var(--padding, 8px 18px);
    border: var(--border-width, 2px) solid transparent;
    transition: var(--transition);
    background: #fa6b50;
  }
  
  
  
  .btn1-secondary { border-color: var(--white); }
  
  .btn1-secondary:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*-----------------------------------*\
   * #TOUR SEARCH
  \*-----------------------------------*/
  
  .tour-search {
    background: url(../../Assets/Hero_images/bg-search.png);
    /* background-image: url('../images/hero-banner.jpg'); */
    padding-block: var(--section-padding);
    background-repeat: no-repeat;
  }
  
  .tour-search-form .input-label {
    color: var(--white);
    font-size: var(--fs-4);
    margin-left: 20px;
    margin-bottom: 10px;
    /* background: #fa6b50; */
    padding: 3px;
    /* border-radius: 12px; */
  }
  
  .tour-search-form .input-field {
    background: var(--white);
    padding: 10px 15px;
    font-size: var(--fs-5);
    border-radius: 50px;
  }
  
  .tour-search-form .input-field::placeholder { color: var(--spanish-gray); }
  
  .tour-search-form .input-field::-webkit-datetime-edit {
    color: var(--spanish-gray);
    text-transform: uppercase;
  }
  
  .tour-search-form .input-wrapper { margin-bottom: 15px; }
  
  .tour-search .btn1 {
    width: 100%;
    --border-width: 1px;
    font-weight: var(--fw-600);
    margin-top: 35px;
  }
  
  /**
   * responsive for larger than 580px screen
   */
  
  @media (min-width: 580px) {
  
    /**
     * REUSED STYLE
     */
     
  
    .container {
      max-width: 580px;
      margin-inline: auto;
    }
  
    .btn1 {
      --fs-5: 16px;
      --padding: 12px 30px;
    }
  
   
  
  
  
    /**
     * TOUR SEARCH
     */
  
    .tour-search-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: flex-end;
      gap: 15px;
    }
  
    .tour-search-form .input-wrapper { margin-bottom: 0; }
  
    .tour-search-form .input-field { padding: 16px 20px; }
  
    .tour-search .btn1 {
      grid-column: span 2;
      margin-top: 20px;
    }
  
  
    
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
  
    :root {
  
      /**
       * typography
       */
  
      --fs-5: 15px;
  
    }
  
  
  }
  
  
  @media (min-width: 992px) {
  
    .container { max-width: 1050px; }
  
  
  
  
    /**
     * TOUR SEARCH
     */
  
    .tour-search-form { grid-template-columns: repeat(5, 1fr); }
  
    .tour-search .btn1 {
      --padding: 15px;
      grid-column: unset;
      margin-top: 0;
    }
  
  
  
  
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
  
    :root {
  
      --section-padding: 100px;
  
    }
  
  
    .container { max-width: 1180px; }
  
  }

  @media only screen and (max-width: 600px) {
  
    .tour-search{
      margin-top: 1rem !important;
      background: url('../../Assets/Hero_images/mobile-hero-bg.jpg');
      background-repeat: round;
    }
  }
