.navbar{
    background-color: #f7f2ee;
}

.brand, .list_item{
    color: #000;
}

.btn{
    background-color: #fa6b50;
    border: none;
    border-radius: 50px;
}

/* hover part */
.list_item:hover{
    color: #fa6b50;
}