.review-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.book {
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
    /* -webkit-box-shadow: 1px 1px 12px #000; */
    box-shadow: 1px 1px 12px rgb(149, 147, 147);
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cover img{
    border-radius: 10px;
    width: 300px;
    height: 400px;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  p {
    font-size: 20px;
    font-weight: bolder;
  }

  /* new card */
  .card1 {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  
  .img-bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
  }
  
  .img-bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .content .detail h2 {
    color: #444;
    font-size: 1.6em;
    font-weight: bolder;
  }
  
  .content .detail h2 span {
    font-size: 0.7em;
    color: #03a9f4;
    font-weight: bold;
  }
  
  .sci {
    position: relative;
    display: flex;
    margin-top: 5px;
  }
  
  .sci li {
    list-style: none;
    margin: 4px;
  }
  
  .sci li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 1.5em;
    color: #444;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
  }
  
  .sci li a:hover {
    background: #03a9f4;
    color: #fff;
  }
  